terraform_linux_user: terraform

sudoers_user: "{{ terraform_linux_user }}"

pve_user: "terraform@pam"
pve_group: "terraform-users"
pve_role: "TerraformUser"
pve_token_name: "token"
pve_token_privsep: "0"

op_vault: "Homelab"
op_item_prefix: "proxmox"
op_api_item_suffix: "api"
op_ssh_key_item: "proxmox/ssh-bootstrap-key"
op_service_account_item: "Service Account Auth Token: Homelab Service"

snippets_dir: "/var/lib/vz/snippets"

sudoers_path: "/etc/sudoers.d/{{ sudoers_user }}"
sudoers_content: |
  {{ sudoers_user }} ALL=(root) NOPASSWD: /sbin/pvesm
  {{ sudoers_user }} ALL=(root) NOPASSWD: /sbin/qm
  {{ sudoers_user }} ALL=(root) NOPASSWD: /usr/bin/tee /var/lib/vz/snippets/*
  {{ sudoers_user }} ALL=(root) NOPASSWD: /usr/bin/tee /var/lib/vz/template/iso/*
