terraform_linux_user: terraform

pve_user: "terraform@pam"
pve_group: "terraform-users"
pve_role: "TerraformUser"
pve_token_name: "token"
pve_token_privsep: "0"

snippets_dir: "/var/lib/vz/snippets"

sudoers_path: "/etc/sudoers.d/terraform"
sudoers_content: |
  terraform ALL=(root) NOPASSWD: /sbin/pvesm
  terraform ALL=(root) NOPASSWD: /sbin/qm
  terraform ALL=(root) NOPASSWD: /usr/bin/tee /var/lib/vz/snippets/*
  terraform ALL=(root) NOPASSWD: /usr/bin/tee /var/lib/vz/template/iso/*

ssh_pubkey_file: "{{ lookup('env','HOME') + '/.ssh/id_ed25519.pub' }}"

token_out_dir: "./.secrets"
token_out_file: "{{ inventory_hostname }}_pve_api_token.txt"
